@font-face {
  font-family: "Pokemon Hollow";
  src: url("./Pokemon\ Hollow.ttf");
}
@font-face {
  font-family: "Pokemon Solid";
  src: url("./Pokemon\ Solid.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Pokemon Hollow;
}
body{
  background-color: snow;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
  min-width: 320px;
}
header img{
  width: 10%;
  height: 10%;
}
main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: firebrick;
  min-width: 320px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.fetch{
  display: flex;
  flex-wrap: wrap;
}
.fetch__others img:hover{
  cursor: pointer;
}
@media (max-width: 768px) {
  main{
    flex-direction: column;
    min-width: 320px;
  }
  footer {
    flex-direction: column;
  }
}